<html>
  <head>
    <title>About</title>
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div class="main">
      {{>header}}
      <h3>this site shows us to weather</h3>
        {{>footer}}
        </div>
  </body>
</html>